  <!-- page content -->

@model IEnumerable<Personel>
<div class="right_col" role="main">
    <div class="">

        <div class="row" style="display: block;">

            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="col-md-6 col-sm-6">
                        <h2>Ürün Yönetimi</h2>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <a asp-controller="Personel" asp-action="New" class="btn btn-success float-right" style="color:#fff">Yeni Personel Ekle</a>
                    </div>


                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Adı Soyadı </th>
                                        <th class="column-title">Gorev </th>    
                                        <th class="column-title">Fotoğraflar </th>    
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (Personel p in Model)
                                    {
                                        <tr class="even pointer">
                                            <td class=" "><a asp-controller="Personel" asp-action="Edit" asp-route-id="@p.ID">@p.NameSurname</a></td>
                                            <td class=" ">@p.Gorev</td>
                                            <td><a asp-controller="PersonelPicture" asp-action="Index" asp-route-personelid="@p.ID">Personel Ait Fotoğraflar</a></td>

                                            <td><a asp-controller="Personel" asp-action="Delete" asp-route-id="@p.ID" class="btn btn-danger">Sil</a></td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->  <!-- page content -->
