@model Slide
<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Yeni Slide Ekle</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form enctype="multipart/form-data" asp-controller="Slide" asp-action="Edit" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <input type="hidden" asp-for="@Model.ID" />

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.SloganBuyuk"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" asp-for="@Model.SloganBuyuk">
                                    <span asp-validation-for="@Model.SloganBuyuk"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.SloganRenkliKelime"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" asp-for="@Model.SloganRenkliKelime">
                                    <span asp-validation-for="@Model.SloganRenkliKelime"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.SloganKucuk"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" asp-for="@Model.SloganKucuk">
                                    <span asp-validation-for="@Model.SloganKucuk"></span>
                                </div>
                            </div>


                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.DisplayIndex"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" asp-for="@Model.DisplayIndex">
                                    <span asp-validation-for="@Model.DisplayIndex"></span>
                                </div>
                            </div>



                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" asp-controller="Slide" asp-action="Index">İptal</button>
                                    <button class="btn btn-primary" type="reset">Temizle</button>
                                    <button type="submit" class="btn btn-success">Gönder</button>
                                </div>
                            </div>
                            @Html.AntiForgeryToken()
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /page content -->