  <!-- page content -->

@model IEnumerable<Slide>
<div class="right_col" role="main">
    <div class="">

        <div class="row" style="display: block;">

            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="col-md-6 col-sm-6">
                        <h2>Slayt Yönetimi</h2>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <a asp-controller="Slide" asp-action="New" class="btn btn-success float-right" style="color:#fff">Yeni Slayt Ekle</a>
                    </div>




                    <div class="x_content">

                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">

                                        <th class="column-title">Slogan Buyuk </th>
                                        <th class="column-title">Slogan Renkli Kelime </th>
                                        <th class="column-title">Slogan Buyuk 2 </th>
                                        <th class="column-title">Slogan Kucuk </th>
                                        <th class="column-title">Görüntülenme Sırası </th>
                                        <th class="column-title">Slide Fotoğrafları </th>
                                        <th></th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (Slide s in Model)
                                    {
                                        <tr class="even pointer">
                                            <td class=" "><a asp-controller="Slide" asp-action="Edit" asp-route-id="@s.ID">@s.SloganBuyuk</a></td>
                                            <td class=" ">@s.SloganKucuk</td>
                                            <td class=" ">@s.DisplayIndex</td>
                                            <td class=" ">@s.SloganRenkliKelime</td>
                                            <td><a asp-controller="SlidePicture" asp-action="Index" asp-route-slideid="@s.ID">Slide Fotoğrafları</a></td>
                                            <td><a asp-controller="Slide" asp-action="Delete" asp-route-id="@s.ID" class="btn btn-danger">Sil</a></td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->  <!-- page content -->
